[licenses]
allow = ["Apache-2.0", "MIT", "Unicode-3.0"]
private = { ignore = true }

[advisories]
yanked = "deny"
# bincode is deprecated -- just a dev-dependency in this crate
ignore = ["RUSTSEC-2025-0141"]
