name: lint

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Install rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: Lint
        run: bash ci/lint.sh
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@0.3.0
        with:
          check_together: 'y'
