name: test

on:
  push:
    branches: [master]
    paths: '**.rs'
  pull_request:
    branches: [master]
    paths: '**.rs'

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-16.04, ubuntu-latest, macos-latest, windows-latest]
        rust_version: [stable]
        include:
        # check all tzs on most-recent OS's
        - os: ubuntu-latest
          rust_version: stable
          exhaustive_tz: all_tzs
        - os: windows-latest
          rust_version: stable
          exhaustive_tz: all_tzs
        - os: macos-latest
          rust_version: stable
          exhaustive_tz: all_tzs
        # test other rust versions
        - os: ubuntu-latest
          rust_version: beta
        - os: ubuntu-latest
          rust_version: nightly
        - os: ubuntu-16.04
          rust_version: 1.13.0
        - os: macos-latest
          rust_version: 1.13.0
          # time doesn't work on windows with 1.13

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2

      - name: Install rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust_version }}
          override: true

      - name: Build and Test
        run: bash ci/github.sh
        env:
          RUST_VERSION: ${{ matrix.rust_version }}
          EXHAUSTIVE_TZ: ${{ matrix.exhaustive_tz }}

  no_std:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2

      - name: Install rust with no_std toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: thumbv6m-none-eabi
          override: true

      - name: Build no_std lib
        run: cargo build --target thumbv6m-none-eabi --color=always
        working-directory: ./ci/core-test

  wasm:
    strategy:
      matrix:
        os: [macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2

      - name: Install rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: wasm32-unknown-unknown
          override: true

      - name: Install node
        uses: actions/setup-node@v1
        with:
          node-version: '12'

      - name: Install wasm-pack
        run: |
          export RUST_BACKTRACE=1
          curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
          wasm-pack --version

      - name: Build and Test
        run: bash ci/github.sh
        env:
          RUST_VERSION: stable
          WASM: wasm_simple
